<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset Password - World Facade</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">

</head>
<body>
<div class="login-container">

    <form th:action="@{/reset-password}" method="post" xmlns:th="http://www.w3.org/1999/xhtml">
        <input type="hidden" name="email" th:value="${email}"/>

        <label>New Password:</label>
        <input type="password" name="password" required/>

        <button type="submit">Reset Password</button>
    </form>
</div>
</body>
</html>
