<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset Password - World Facade</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="login-container">

    <form th:action="@{/reset-password}" method="post" onsubmit="return validateForm()">
        <input type="hidden" name="email" th:value="${email}"/>

        <label>New Password:</label>
        <input type="password" id="password" name="password" required/>

        <label>Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required/>

        <p id="error-msg" style="color:red; display:none;">Passwords do not match</p>

        <button type="submit">Reset Password</button>
    </form>
</div>


<script>
    function validateForm() {
        let pass = document.getElementById("password").value;
        let confirmPass = document.getElementById("confirmPassword").value;

        if (pass !== confirmPass) {
            document.getElementById("error-msg").style.display = "block";
            return false; // prevent submit
        }
        return true; // allow submit
    }
</script>

</body>
</html>
